<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259567957483-gi25fttuva7e6fu39jabbevt73pbv65u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259567957483-gi25fttuva7e6fu39jabbevt73pbv65u</string>
	<key>API_KEY</key>
	<string>AIzaSyBcBBpfFJDVuJmI88JifFnGluqyH6z2iSU</string>
	<key>GCM_SENDER_ID</key>
	<string>259567957483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eleanorpeng31.EachDay</string>
	<key>PROJECT_ID</key>
	<string>eachday-1d809</string>
	<key>STORAGE_BUCKET</key>
	<string>eachday-1d809.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:259567957483:ios:5457224968022f8c12d5ae</string>
	<key>DATABASE_URL</key>
	<string>https://eachday-1d809.firebaseio.com</string>
</dict>
</plist>
